<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">2020 - 1º Semestre</h4>
    <p class="card-category">Novo ciclo, Teste</p>
  </div>
  <div class="card-body">
    <p class="card-category">Eleição Associado Fantástico</p>
    <p class="data">
      <span class="material-icons">
        date_range
      </span> 20/02 a 28/02
    </p>
    <p class="card-category">Eleição Associado Super Fantástico</p>
    <p class="data">
      <span class="material-icons">
        date_range
      </span> 23/03 a 30/03
    </p>

    <button routerLink="1/cronograma" mat-raised-button class="btn btn-primary">Acessar</button>
  </div>
  <div class="card-footer">
    <div class="stats">
        <span class="material-icons">calendar_today</span> 05/01/2020 13:25
    </div>
</div>
</div>