<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <app-card title="Cronograma de Votação" description="Altere aqui o período da votação">
          <div class="cronograma">

            <div class="cronograma-etapa">

              <div class="cronograma-etapa-icon">
                <mat-icon>calendar_today</mat-icon>
              </div>

              <p class="cronograma-etapa-titulo">Início da votação para Associado Fantástico</p>

              <div class="cronograma-etapa-conteudo">
                <div class="row">
                  <div class="col-md-3 col-6">
                    <mat-form-field>
                      <input matInput [matDatepicker]="inicioVotacao1Picker" placeholder="Escolha a data">
                      <mat-datepicker-toggle matSuffix [for]="inicioVotacao1Picker"></mat-datepicker-toggle>
                      <mat-datepicker #inicioVotacao1Picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                </div>

                <button mat-raised-button class="btn btn-primary">Iniciar Agora</button>


              </div>


            </div>

            <div class="cronograma-etapa">

              <div class="cronograma-etapa-icon color-primary">
                <mat-icon>calendar_today</mat-icon>
              </div>

              <p class="cronograma-etapa-titulo">Término da votação para Associado Fantástico</p>

              <div class="cronograma-etapa-conteudo">
                <div class="row">
                  <div class="col-md-3 col-6">
                    <mat-form-field>
                      <input matInput [matDatepicker]="inicioVotacao2Picker" placeholder="Escolhar a data">
                      <mat-datepicker-toggle matSuffix [for]="inicioVotacao2Picker"></mat-datepicker-toggle>
                      <mat-datepicker #inicioVotacao2Picker></mat-datepicker>
                    </mat-form-field>
                  </div>

                </div>

                <button mat-raised-button class="btn btn-primary">Finalizar Agora</button>

              </div>

            </div>
          </div>


        </app-card>

      </div>
    </div>
  </div>
</div>