<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">

                <app-card title="Grupo" description="Selecione o grupo que deseja visualizar">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-12">
                            <mat-form-field>
                                <mat-label>Selecione o grupo</mat-label>
                                <mat-select [(ngModel)]="grupoSelecionado">
                                    <mat-option *ngFor="let grupo of grupos" [value]="grupo">
                                        {{ grupo.nome }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </app-card>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <app-card-indicador icone="people" classe="card-header-warning" titulo="Eleitores" valor="2000"
                            textoRodape="Total cadastrado no grupo"></app-card-indicador>
                    </div>
                    <div class="col-md-6 col-12">
                        <app-card-indicador icone="star" classe="card-header-success" titulo="Elegíveis" valor="320"
                            textoRodape="Elegíveis à votação"></app-card-indicador>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <app-card-indicador icone="aspect_ratio" classe="card-header-info" titulo="Dimensionamento"
                            valor="100" textoRodape="Qtda. a ser elegida"></app-card-indicador>
                    </div>
                    <div class="col-md-6 col-12">
                        <app-card-indicador icone="assignment_ind" classe="card-header-danger" titulo="Votos"
                            valor="564" textoRodape="Qtda. Votos"></app-card-indicador>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card card-chart">
                    <div class="card-header card-header-primary">
                        <app-grafico-votacao></app-grafico-votacao>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Apuracão</h4>
                        <p style="margin-bottom: .85rem;">Consulte o Relatório de Apuração da Votação para visualizar todos os dados.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Este gráfico exibi apenas os 10 primeiros colocados.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-relatorio-votos></app-relatorio-votos>
        
        <app-relatorio-apuracao></app-relatorio-apuracao>
    </div>
</div>