<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">

        <app-card title="Grupos" description="Gerencie os grupos que participarão da eleição por aqui">
          <app-grupo-form (salvar)="salvarGrupo($event)" [grupo]="grupoSelecionado" [isSaving]="isSaving"
            (cancelar)="cancelarEdicao()"></app-grupo-form>
          <br>
          <app-grupos-list [grupos]="grupos" (acao)="acao($event)"></app-grupos-list>
        </app-card>
      </div>
    </div>
  </div>
</div>
