<div class="card card-profile">
  <div class="card-avatar">
    <a href="javascript:void(0)">
      <img class="img" src="./assets/img/faces/marc.jpg" />
    </a>
  </div>
  <div class="card-body">
    <h6 class="card-category text-gray">Cargo do Associado</h6>
    <h4 class="card-title">Nome do Associado</h4>
    <p class="card-description">
      Alguma descrição arbitrária.
    </p>
    <a href *ngFor="let opcao of opcoes" [ngClass]="opcao.class" class="btn btn-round">{{ opcao.opcao }}</a>
  </div>
</div>