<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        
        <app-card title="Elegíveis para Eleicão de Associado Fantástico"
          description="Todos os associados elegíveis para a primeira votação estão listados abaixo">

          
          <button mat-raised-button class="btn btn-primary" routerLink="perfis">Visualizar Perfis</button>

          <hr>

          <div class="row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <mat-form-field>
                <input matInput placeholder="Adicionar Associado">
              </mat-form-field>
            </div>
          </div>


          <app-associados-list [opcoes]="opcoesVotacao1"></app-associados-list>

        </app-card>

      </div>
    </div>
  </div>
</div>