<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/logo.svg" />
        </div>
        <span class="logo-title">Associado Fantástico</span>
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="navbarService.isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
            <li class="nav-item">
                <a class="nav-link" routerLink="/ciclos">
                    <i class="material-icons">home</i>
                    <p>
                        <span class="d-lg-none d-md-block">Início</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="material-icons">person</i>
                    <p>
                        <span class="d-lg-none d-md-block">Conta</span>
                    </p>
                </a>
            </li>
        </ul>
    </div>

    <ul class="nav" *ngIf="options.showSidenav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ change_detection_hack__: cicloId }"
        *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="['/ciclos', cicloId, 'votacoes', votacaoId, menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>