/* You can add global styles to this file, and also import other style files */
.dropdown-menu a {
  cursor: pointer;
}

td .btn {
  background-color: white !important;
  color: #212529;
  text-transform: none;
  font-size: 14px;
  font-weight: lighter;
}

td .btn:hover {
  color: #212529 !important;
}

.dropdown-menu li a:hover {
  color: white !important;
}

.table-responsive td,
.table-responsive th {
  white-space: nowrap;
}

td.actions button {
  padding: 8px 10px;
  margin-top: 0;
  margin-bottom: 0;
}

td.actions button mat-icon {
  font-size: 16px;
  margin: 0;
  height: auto;
  width: auto;
}

td.actions:last-child {
  text-align: right;
}

.card [class*=card-header-] .ct-chart .ct-series-a .ct-bar {
  stroke-width: 14px !important;
}
