<div class="table-responsive">
  <table class="table">
    <thead class=" text-primary">
      <th>Grupo</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let grupo of grupos">
        <td>{{ grupo.nome }}</td>
        <td class="actions">
          <div class="dropup">
            <button href="#" class="btn dropdown-toggle" data-toggle="dropdown"
              aria-expanded="true">
              Opções
              <b class="caret"></b>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li *ngFor="let opcao of opcoes"><a (click)="onAcao(opcao, grupo)">{{ opcao }}</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>